.settings {
    width: 30%;
    border: 2px solid rgba(255, 255, 255, .2);
    background-color: rgb(29, 29, 29);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    /* text-shadow: rgb(0, 0, 0) 1px 0 3px; */
    text-align: center;
    border-radius: 10px;
    padding: 30px 40px;
    position: absolute;
}

button {
    background-color: #1a1a1a;
    border: 2px solid rgba(255, 255, 255, .2);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    /* text-shadow: rgb(0, 0, 0) 1px 0 3px; */
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    color: white;
}

button:hover {
    background-color: #2c2c2c;
}

select {
    text-align: center;
    background-color: #1a1a1a;
    border: 2px solid rgba(255, 255, 255, .2);
    color: white;
}

option {
    background-color: #1a1a1a;
    border: 2px solid rgba(255, 255, 255, .2);
    color: white;

}

input[type=text] {
    background-color: #1a1a1a;
    border: 2px solid rgba(255, 255, 255, .2);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    /* text-shadow: rgb(0, 0, 0) 1px 0 3px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    color: white
}
