.service-status {
    height: 100%; 
    width: 80%; 
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.lights {
    display: flex; 
    flex-direction: row; 
    justify-content: center;
    
    width: 100%;
    height: 100%;
}

.light {
    background-color:  rgb(43, 43, 43);
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 10px 10px;
    margin-right: 0.5%;
    margin-left: 0.5%;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
}

.circle {
    aspect-ratio: 1;
    border-radius: 100%;
    background-color:  rgb(88, 88, 88);
    display: flex;
    width: 60%;
    justify-content: center;
    align-items: center;
    font-size: xxx-large;
}

.notify {
    height: 100%;
    width: 100%;
    border-radius: 10px 10px 10px 10px;
    background-color:  rgb(43, 43, 43);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.center-event {
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    
}

.events {
    width: 100%;
    height: 100%;
}

.event {
    height: 25%;
    width: 98%;
    display: flex;
    background-color: rgb(29, 29, 29);
    border-radius: 10px 10px 10px 10px;
    flex-direction: row;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 1%;
    overflow: hidden;
    align-items: center;
    justify-content:space-between
}

.event a {
    color: white;
    margin-right: 5%;
    text-wrap: nowrap;
}

.event-title {
    text-wrap: nowrap;
    width: 60%;
    overflow: hidden;
}

.event-circle {
    aspect-ratio: 1;
    border-radius: 100%;
    width: 3%;
    margin-left: 5%;
    background-color:  rgb(88, 88, 88);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xxx-large;
}

.right-to-left {
    animation: RightToLeft 20s infinite linear;
    width: max-content;
}

@keyframes RightToLeft {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-100%);
    }
}